* {
    margin: 0;
    padding: 0;
  }
  
h5 {
  margin-top: 25px;
}

.bio-container {
  margin-left: 25%;
  margin-top: 3%;
}

button {
  margin-bottom: 25px;
}

.card text-center {
  padding: 35rem;
}

.card-body {
  background-color: rgb(228, 225, 225);
}

.card-text {
  padding: 0px;
}
  /* Background gradient */
  .css-selector {
    background: linear-gradient(270deg, #03890e, #4a1594);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  .nav-link {
    color: black;
    font-weight: normal;
  }
  
  .nav-link:hover {
    color: grey;
  }
  
    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background: no-repeat center center;
      background-size: 100% 100%;
    }
  
    body {
      font-family: 'Montserrat', sans-serif;
    }
  
  .container {
    align-self: center;
  }
  

#gifs-rows img {
  cursor: pointer;
  width: 500px;
  height: auto;
  border-radius: 25px;
}

#gifs-rows .gif-file {
  display:none;
}


  label {
      color: rgb(59, 59, 59);
      text-indent: 15px;
  }
  

.mb-3 {
  background-color: rgb(228, 225, 225);
}
.col-md-4 img {
      float: left;
      border-radius: 25px;
      margin-top: 65px;
      margin-left: 45px;
      
      /* 
      width: 115%;
      padding: 20px; 
      border-color: black;
      border-image-outset: 10px; */
      }
  
  a {
    color: black;
  }
  
  .bio-container p {
   text-align: center;
   padding: 8%;
   margin-left: 35px;
   margin-bottom: 35px;
  }
  
  .bio-card-text {
    margin-left: 15;
    float: right;
  }

  .card-w-50 {
      position: absolute;
  }
  
  /* .card-header {
      text-transform: uppercase;
  } */
  
  .container {
    padding: 20px;
    float: center;
  }
  

  /* Footer */

  #footer-wrap {
    text-align: center;
    margin-top: 5rem;  
}

#footer {
    background: rgb(228, 225, 225);
}

#footer a i {
    margin: 0.5rem;
}

  
    @media screen and (max-width: 768px) {
      .container {
        margin: 0 2% 55% 2%;
        width: 600px;
      }
    }
  
    @media screen and (max-width: 414px) {
      .container {
        width: 300px;
      }
    }

